
body {
	background-image: url('../image/background.png');
}

.singapura 
{
	height:450px;
	width:600px;
	margin-top: 10px;
}

.head-title
{
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	text-align: center;
	margin-top: -5px;
}

.head-love
{
	font-family: 'Work Sans', sans-serif;
	font-size:15px;
	text-align: center;
	margin-top: -20px;
}

.head-description
{
	font-family: 'Work Sans', sans-serif;
	font-size:20px;
	text-align: center;
	margin-top: -50px;
}

.head-body
{
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	text-align: center;
}

.head-body-description
{
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	margin-top: -20px;
}

.body-code
{
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	width: 100%;
}

.code-container
{
	width:70%;
	margin:0 auto;
}

.container
{
	margin:0 auto;
	width: 95%;
	min-height: 200px;
}

.link
{
	text-decoration:none;
	color: #106de48f;
}